/*....cambio de modo-noche-dia....*/
.cambio{
	background-color:#343D5B;
	border-radius:10000px;
	border:none;
	position:relative;
	cursor:pointer;
	display:flex;
	outline:none;
	transition-property:all;
    transition-duration:1s;
}
.cambio span{
	width:29px;
	height:29spx;
	line-height:30px;
	display:block;
	background:none;
	color:#fff;
}

/*....Texto....*/
.cambio.activo{
    background:orange;
    color:#000;	
}
body.oscuro{
	background:#2A2A24;
}
body.oscuro nav{
	background:black;
}
body.oscuro a{
	color:#FFFFFF;
}
body.oscuro span{
	color:#FFFFFF;
}
/*....Contenedores....*/
body.oscuro div div{
	background:#141212;
}
/*....Estilo-seudoclase....*/
.cambio:after{
	content: "";
	display:block;
	width:33px;
	height:33px;
	position:absolute;
	background:#F1F1F1;
	top:0;
	left:0;
	bottom:0;
	right:unset;
	border-radius:100px;
	transition:1s ease all;
	box-shadow:0px 0px 2px 2px rgba(0, 0, 0, .2);
	
}
.cambio.activo:after{
	right:0;
	left:unset;	
}
