
/*....Contenedores....*/
body{
	background:#FFFFFF;
	transition-property:all;
	transition-duration:1s;
	font-family: 'Montserrat', sans-serif;
}
.container{
	height:60px;
	border:2px solid #000000;
	/*border-radius:8px;*/
	background-color:#CDCDCD;
	margin-top:1.3em;
}
.nav-container{
	font-size:1.5em;
	margin-bottom:0.9em;
}
.imagenes-body{
	display:flex;
    flex-direction:column;
	flex-direction:row;
	margin-bottom:2em;
}

/*....Contenido del navbar....*/
ul li{
	list-style-type:none;
}
ul{
	display:grid;
	grid-template-columns:12% 15% 15% 24% 18% 10% 5%;
}
button{
	font-size:1.5em;
	width:2.5em;
	margin-bottom:0.9em;
	transition-property: all;
    transition-duration:0.5s;
}
/*....Contenido del flexbox*/
.imagenes-body img{
	width:20%;
	height:20%;
	margin-top:2em;
}
/*....Texto....*/
a{
	color:#282828;
	text-decoration:none;
	transition-property: all;
    transition-duration:0.5s;
}
/*....Imagenes....*/
li i{
	font-size:1.3em;
}
.fas.fa-house-user{
	color:blue;
}
.fas.fa-user-friends{
	color:green;
}
.fas.fa-gamepad{
	color:#FFC100;
}
.fas.fa-chess-queen{
	color:#F80E0E;
}
/*....Estilos....*/
a:hover{
	color:#000000;
	font-size:30px;
}
