
/*....Contenedores....*/
.container{
	height:60px;
	background-color:#E8FF46;
}
.nav-container{
	font-size:1.5em;
	margin-top:0.5em;
}
/*....Contenido del navbar....*/
ul li{
	list-style-type:none;
}
ul{
	display:grid;
	grid-template-columns:80% 10% 10%;
}
/*....Texto....*/
a{
	color:black;
}
/*....Imagenes....*/
.fas fa-house-user{
	text-decoration:none;
}
/*....Estilos....*/
a:hover{
	color:#DCDADA;
}